.App {
  text-align: center;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* SHOPPING LIST STYLES */
.shopping-list {
  width: 400px;
  margin: 20px;
}

.shopping-list-name {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
  margin-bottom: 10px;
}

/* ITEMS LIST STYLES */
.item-list {
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
}

.item-text {
  float: left;
  width: calc(100% - 20px);
  text-align: left;
}

.change-color {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 20px;
  margin: 5px;
  cursor: pointer;
}

.modal-header {
  background: antiquewhite;
}

.X-button {
  cursor: pointer;
}

.item-list-edit-modal {
  text-align: right;
}

.edit-button {
  text-align: right;
  
}